fish_add_path {{ .chezmoi.homeDir }}/.local/bin
fish_add_path /usr/local/bin
fish_add_path /Applications/Postgres.app/Contents/Versions/latest/bin
fish_add_path {{ .chezmoi.homeDir }}/bin/jetbrains
fish_add_path {{ .chezmoi.homeDir }}/.composer/vendor/bin
fish_add_path {{ .chezmoi.homeDir }}/Library/"Application Support"/Herd/bin/

fish_add_path -a "/Applications/Obsidian.app/Contents/MacOS"
