#!/bin/bash

# tmux.conf hash: {{ include (joinPath .chezmoi.sourceDir "private_dot_config/tmux/tmux.conf") | sha256sum }}
tmux source-file $HOME/.config/tmux/tmux.conf

if [[ -d $HOME/.tmux/plugins/tpm ]] ; then
    # Install Tmux plugins
    $HOME/.tmux/plugins/tpm/bin/install_plugins all

    # Update Tmux plugins
    $HOME/.tmux/plugins/tpm/bin/update_plugins all
fi
