<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mehrad.home-server-backup</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{ .chezmoi.homeDir }}/.local/bin/home-server-backup</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>

    <key>StandardErrorPath</key>
    <string>{{ .chezmoi.homeDir }}/.local/state/home-server-backup.err</string>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
