<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mehrad.sync-terminal-theme</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ .chezmoi.homeDir }}/.local/bin/sync-terminal-theme</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>WatchPaths</key>
    <array>
        <string>{{ .chezmoi.homeDir }}/Library/Preferences/.GlobalPreferences.plist</string>
    </array>
</dict>
</plist>
